# Local configuration file

config = {}

config.api = {}

# API configs
config.api.sharedSecret = "33e06642a13942004fd83b3ba6e4104a"
config.api.apiServer = "127.0.0.1"
config.api.apiPath = "/bigbluebutton/api"
config.api.apiPort = "3000"

# Map bbb events to API calls
config.api.call_map = [
  { channel: "bigbluebutton:from-bbb-apps:video", event_name: "get_stream_path_request", api_call: "getStreamPath", response: "get_stream_path_reply", response_channel: "bigbluebutton:to-bbb-apps:video" },
]

module.exports = config
